.gigs {
  display: flex;
  justify-content: center;

  .container {
    width: 1400px;
    display: flex;
    flex-direction: column;
    padding: 30px 0px;
    gap: 15px;

    .breadcrumbs {
      font-weight: 300;
      font-size: 13px;
    }

    p {
      color: #999;
      font-weight: 300;
    }

    .menu {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 300;

        input {
          padding: 5px;
          border: 1px solid lightgray;
          outline: none;
          border-radius: 4px;

          &::placeholder {
            color: gray;
          }
        }

        button {
          background-color: #1dbf73;
          color: #fff;
          font-weight: 500;
          border: none;
          padding: 5px 10px;
          border-radius: 4px;
          cursor: pointer;
        }
      }

      .right {
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;

        .sort-by {
          color: #555;
          font-weight: 300;
        }
        .sort-type {
          font-weight: 500;
          cursor: pointer;
        }
        img {
          width: 15px;
          cursor: pointer;
        }

        .right-menu {
          padding: 20px 15px;
          background-color: #fff;
          border-radius: 5px;
          border: 0.5px solid lightgrey;
          position: absolute;
          top: 30px;
          right: 0;
          display: flex;
          flex-direction: column;
          gap: 15px;
          color: #555;

          span {
            cursor: pointer;
          }
        }
      }
    }

    .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}
